@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  font-family: "Work Sans", sans-serif;
}

.social-link-logo {
  max-width: 30px;
}

.text-subtitle {
  color: rgb(90, 90, 90);
}
