@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  font-family: "Work Sans", sans-serif;
}

#mainCarousel .carousel-item {
  max-height: calc(100vh - 56px);
}

.carousel-caption {
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}

.social-link-logo {
  max-width: 30px;
}

.text-subtitle {
  color: rgb(90, 90, 90);
}
